.page {
    width: 1140px;
    max-width: 100%;
    margin: 50px auto;

    &__title{
        font-size: 44px;
        line-height: 52px;
        color: #a31a7e;
        text-align: center;
        font-weight: 300;
    }
    &__subtitle {
        text-align: center;
        font-size: 22px;
        line-height: 36px;
        color: #666;
    }
}